<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button"  routerLink="Student">
      Manage Students
      </button>
    <button class="btn btn-outline-success" type="button" routerLink="Teacher">
      Manage Teachers
    </button>
    <button class="btn btn-outline-success" type="button" routerLink="Subject">
      Manage Subjects
    </button>
    <button class="btn btn-outline-success" type="button" routerLink="Course">
      Manage Courses
    </button>
    <button class="btn btn-outline-success" type="button" routerLink="Results">
      Manage Results
    </button>
    <button class="btn btn-outline-success" type="button" routerLink="Grade">
      Manage Grades
    </button>
    </form>
  </nav>  
  <router-outlet></router-outlet>
