<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10">
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-lg btn-outline-success" type="button"  routerLink="Student">
      Manage Students
      </button>
    <button class="btn btn-lg btn-outline-success" type="button" routerLink="Teacher">
      Manage Teachers
    </button>
    <button class="btn btn-lg btn-outline-success" type="button" routerLink="Subject">
      Manage Subjects
    </button>
    <button class="btn btn-lg btn-outline-success" type="button" routerLink="Course">
      Manage Courses
    </button>
    <button class="btn btn-lg btn-outline-success" type="button" routerLink="Results">
      Manage Results
    </button>
    <button class="btn btn-lg btn-outline-success" type="button" routerLink="Grade">
      Manage Grades
    </button>
    </form>
  </nav>  
  </div>
  </div>
  <app-splash></app-splash>
  <router-outlet></router-outlet>

