<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.Id" />
    <label class="label label-default">Name</label>
    <div class="form-group">
        <input class="form-control form-control-lg" placeholder="Course Name" name="Name" #CourseCode="ngModel"
            [(ngModel)]="service.formData.Name" required maxlength="100" />
    </div>
    <label class="label label-default">Code</label>
    <div class="form-group">
        <input class="form-control form-control-lg" placeholder="Course Code" name="code" #CourseCode="ngModel"
            [(ngModel)]="service.formData.Code" required maxlength="100" />
    </div>
    <label class="label label-default">Maximum Subjects Allowed</label>
    <div class="form-group">
        <input  type="number" min="0" class="form-control form-control-lg" placeholder="Subjects Count" 
        name="name" #SubjectsCount="ngModel"
            [(ngModel)]="service.formData.NumberOfSubjectsAllowed" required />
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid"> {{ service.formData.Id !=
            0 ? 'Update' : 'Add' }} </button>
    </div>
</form>