<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.Id" />
    <label class="label label-default">Title</label>
    <div class="form-group">
        <input class="form-control form-control-lg" placeholder="Grade Title" name="title" #Title="ngModel"
            [(ngModel)]="service.formData.Title" required />
    </div>
    <div class="form-group">
        <label class="label label-default">Course</label>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle drp-dwn" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
                {{service.formData?.Course?.Name?service.formData?.Course?.Name:'Select Course'}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" #selectedCourse>
                <button type="button" class="dropdown-item" *ngFor="let course of courseService.courseList"
                    (click)="onCourseSelect(course)" on-click="selectedCourse.value=course.Name">
                    {{course.Name}}
                </button>
            </div>
        </div>
    </div>
    <label class="label label-default">Starting Marks</label>
    <div class="form-group">
        <input type="number" min="0" max="100" class="form-control form-control-lg" placeholder="Starting Marks" name="startingMarks" #StartingMarks="ngModel"
            [(ngModel)]="service.formData.StartingMarks" required />
    </div>

    <label class="label label-default">Ending Marks</label>
    <div class="form-group">
        <input type="number" min="0" max="100" class="form-control form-control-lg" placeholder="EndingMarks" name="endingMarks" #EndingMarks="ngModel"
            [(ngModel)]="service.formData.EndingMarks" required />
    </div>
    
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid"> {{ service.formData.Id !=
            0 ? 'Update' : 'Add' }} </button>
    </div>
</form>