<div class="jumbotron py-3">
    <h1 class="display-4 text-center"> Courses</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <app-course-form></app-course-form>
    </div>

    <div class="col-md-9">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Ttoal Credit Hours
                    </th>
                    <th>
                        Students Enrolled
                    </th>
                    <th>
                        Teachers
                    </th>
                    <th>
                        Average Grade
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of service.courseList">
                    <td>{{course.Id}}</td>
                    <td>{{course.Name}}</td>
                    <td>{{course.Code}}</td>
                    <td>{{course.TotalCreditHours}}</td>
                    <td>{{course.Students?.length}}</td>
                    <td>{{course.Teachers?.length}}</td>
                    <td>{{getAverageGrade(course)}}</td>
                    <td (click)="populateForm(course)"> <button type="button" class="btn btn-info">Update</button>
                    <td (click)="deleteCourse(course)"> <button type="button" class="btn btn-danger" [disabled]="!isDeleteable(course)"
                            data-toggle="tooltip" title={{this.getTooltipForDeleteButton(course)}}>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>