<div class="jumbotron py-3">
    <h1 class="display-4 text-center"> Course details</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <app-course-form></app-course-form>
    </div>

    <div class="col-md-9">
        <span> List of Courses</span>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Course Id
                    </th>
                    <th>
                        Course Name
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Ttoal Credit Hours
                    </th>
                    <th>
                        Students Enrolled
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let course of service.courseList">
                    <td>{{course.Id}}</td>
                    <td>{{course.Name}}</td>
                    <td>{{course.Code}}</td>
                    <td>{{course.TotalCreditHours}}</td>
                    <td>{{course.Students?.length}}</td>
                    <td (click)="PopulateForm(course)"> <button type="button" class="btn btn-info">Update</button>
                    <td (click)="DeleteCourse(course)"> <button type="button" class="btn btn-danger" 
                        [disabled]="course.Students?.length>0 || course.Subjects?.length>0 ">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>