<div class="jumbotron py-3">
    <h1 class="display-4 text-center"> Subject details</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <app-subject-form></app-subject-form>
    </div>

    <div class="col-md-9">
        <span> List of subjects</span>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Subject Id
                    </th>
                    <th>
                        Subject Name
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Credit Hours
                    </th>
                    <th>
                        Students Enrolled
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subj of service.subjectList">
                    <td>{{subj.Id}}</td>
                    <td>{{subj.Name}}</td>
                    <td>{{subj.Code}}</td>
                    <td>{{subj.Course?.Name}}</td>
                    <td>{{subj.CreditHours}}</td>
                    <td>{{subj.Students?.length}}</td>
                    <td (click)="UpdateSubject(subj)"> <button type="button" class="btn btn-info">Update</button>
                    <td (click)="DeleteSubject(subj)"> <button type="button" class="btn btn-danger"
                        [disabled]="subj.Students?.length>0">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>