<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Subjects</h1>
</div>
<div class="container body-content">
<div class="row">
    <div class="col-md-3">
        <app-subject-form></app-subject-form>
    </div>
    <div class="col-md-9">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Subject Name
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Credit Hours
                    </th>
                    <th>
                        Teacher
                    </th>
                    <th>
                        Students Enrolled
                    </th>
                    <th>
                        Average Grade
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subj of subjectList">
                    <td>{{subj.Id}}</td>
                    <td>{{subj.Name}}</td>
                    <td>{{subj.Code}}</td>
                    <td>{{subj.Course?.Name}}</td>
                    <td>{{subj.CreditHours}}</td>
                    <td>{{subj.Teacher?.Name?subj.Teacher?.Name:"N/A"}}</td>
                    <td>{{subj.Students?.length}}</td>
                    <td>{{getAverageGrade(subj)}}</td>
                    <td (click)="updateSubject(subj)"> <button type="button" class="btn btn-info">Update</button>
                    <td (click)="deleteSubject(subj)"> <button type="button" class="btn btn-danger" 
                        [disabled]="!isDeleteable(subj)" data-toggle="tooltip" 
                        title={{this.getTooltipForDeleteButton(subj)}}>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>