
<div class="jumbotron py-3">
  <h1 class="display-4 text-center"> Student details</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <app-student-form></app-student-form>
  </div>
  
  <div class="col-md-6">
    <span> List of students</span>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>
            Student Id
          </th>
          <th>
            Student Name
          </th>
          <th>
            Assigned Course
          </th>
           <th>Action</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of service.studentsList">
          <td>{{std.Id}}</td>
          <td>{{std.Name}}</td>
          <td>{{std.Course?.Name}}</td>
          <td (click)="UpdateStudent(std)"> <button type="button" class="btn btn-info">Update</button>
          <td (click)="DeleteStudent(std)"> <button type="button" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>  
    </table>
  </div>


</div>

