
<div class="jumbotron py-3">
  <h1 class="display-4 text-center"> Students</h1>
</div>

<div class="row">
  <div class="col-lg-3">
    <app-student-form></app-student-form>
  </div>
  <div class="col-lg-9">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>
            Registeration Number
          </th>
          <th>
             Name
          </th>
          <th>
            Birthday
          </th>
          <th>
             Course
          </th>
          <th>
            Subjects 
          </th>
          <th>
            Grades
          </th>
          <th>
            Total Credit Hours
          </th>
          <th>
            Remaining Credit Hours
          </th>
           <th>Action</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let std of service.studentsList">
          <td>{{std.RegisterationNumber}}</td>
          <td>{{std.Name}}</td>
          <td>{{std.Birthday}}</td>
          <td>{{std.Course?.Name}}</td>
          <td>
            <div *ngFor="let subject of std.Subjects; let counter = index">
              <div>
                {{counter+1}}:{{GetSubjectName(subject)}}
              </div>
            </div>
          </td>
          <td>
            <div *ngFor="let subject of std.Subjects; let counter = index">
              <div>
                {{counter+1}}:{{GetGrade(subject,std.Id)}}
              </div>
            </div>
          </td>
          <td>{{std.Course?.TotalCreditHours}}</td>
          <td>{{std.Course?.TotalCreditHours-GetAvailedCreditHours(std)}}</td>
          <td (click)="UpdateStudent(std)"> <button type="button" class="btn btn-info">Update</button>
          <td (click)="DeleteStudent(std)"> <button type="button" class="btn btn-danger" 
            [disabled]="!IsDeleteable(std)"  data-toggle="tooltip" title={{this.GetTooltipForDeleteButton(std)}}>Delete</button>
          </td>
        </tr>
      </tbody>  
    </table>
  </div>
</div>