<form novalidate #form="ngForm" (submit)="onSubmit(form)">
  <input type="hidden" name="id" [value]="service.formData.Id"/>

  <div class="form-group">
    <label>Name</label>
    <input class="form-control form-control-lg" placeholder="Student Name"
           name="name" #studentName="ngModel" [(ngModel)]="service.formData.Name" required/>
  </div>
  
  <div class="form-group">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true"> {{courseDropDownCelectedValue}} </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  #dropDownSelection>
        <button type="button" class="dropdown-item" *ngFor="let course of service.courseService.courseList"
           (click)="selectValue(course);" on-click="dropDownSelection.value=course">{{course.Name +' '+ course.Code }}</button>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid || !dropDownSelection.value"> {{ service.formData.Id != 0 ? 'Update' : 'Add' }} </button>
  </div>
</form>
