<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.Id" />
    <label class="label label-default">Course</label>
    <div class="form-group">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true"> {{service.courseDropDownCelectedValue}} </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" #courseSelected>
                <button type="button" class="dropdown-item" *ngFor="let course of courseService.courseList"
                    (click)="service.selectCourse(course);" on-click="courseSelected.value=course">{{course.Name +' '+
                    course.Code }}</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="label label-default">Name</label>
        <input class="form-control form-control-lg" placeholder="Subject Name" name="name" #subjectName="ngModel"
            [(ngModel)]="service.formData.Name" required maxlength="100" />
    </div>
    <div class="form-group">
        <label class="label label-default">Code</label>
        <input class="form-control form-control-lg" placeholder="Subject Code" name="code" #subjectCode="ngModel"
            [(ngModel)]="service.formData.Code" required maxlength="100" />
    </div>
    <div class="form-group">
        <label class="label label-default">Credit Hours</label>
        <input class="form-control form-control-lg" placeholder="Credit Hours" name="creditHours" #creditHours="ngModel"
            [(ngModel)]="service.formData.CreditHours" required type="number" max="3" min="1"/>
    </div>
   
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid"> {{ service.formData.Id !=
            0 ? 'Update' : 'Add' }} </button>
    </div>
</form>