<div class="jumbotron py-3">
    <h5 class="display-4 text-center"> Teachers</h5>
</div>
<div class="container body-content">
<div class="row">
    <div class="col-md-3">
        <app-teacher-form></app-teacher-form>
    </div>
    <div class="col-md-9">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                       Name
                    </th>
                    <th>
                        Birthday
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Assigned Subjects
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teacherList">
                    <td>{{teacher.Id}}</td>
                    <td>{{teacher.Name}}</td>
                    <td>{{teacher.Birthday}}</td>
                    <td>${{teacher.Salary}}</td>
                    <td>
                        <div *ngFor="let subject of teacher.Subjects; let counter = index">
                            <div>
                                {{counter+1}}:{{getSubjectName(subject)}}
                            </div>
                        </div>
                    </td>
                    <td (click)="populateForm(teacher)"> <button type="button" class="btn btn-info">Update</button>
                    <td (click)="deleteTeacher(teacher)"> <button type="button" class="btn btn-danger"
                        [disabled]="!isDeleteable(teacher)"  data-toggle="tooltip" 
                        title={{this.getTooltipForDeleteButton(teacher)}}>Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>