<div class="jumbotron py-3">
    <h5 class="display-4 text-center"> Teachers</h5>
</div>

<div class="row">
    <div class="col-md-3">
        <app-teacher-form></app-teacher-form>
    </div>
    <div class="col-md-9">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>
                       Name
                    </th>
                    <th>
                        Birthday
                    </th>
                    <th>
                        Salary
                    </th>
                    <th>
                        Assigned Subjects
                    </th>
                    <th>Action</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of service.teacherList">
                    <td>{{teacher.Name}}</td>
                    <td>{{teacher.Birthday}}</td>
                    <td>${{teacher.Salary}}</td>
                    <td>
                        <div *ngFor="let subject of teacher.Subjects; let counter = index">
                            <div>
                                {{counter+1}}:{{GetSubjectName(subject)}}
                            </div>
                        </div>
                    </td>
                    <td (click)="PopulateForm(teacher)"> <button type="button" class="btn btn-info">Update</button>
                    <td (click)="DeleteTeacher(teacher)"> <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>